.action-bar {
  width: 100%;
  opacity: 0.97;
  z-index: 20;
  background-color: lightblue;
}

.ui.secondary.menu .item {
  transition: all 0.5s ease-out;
}
.ui.segment {
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 0;
}

.ui.inverted.grey.ui.segment {
  background-color: rgba(200, 200, 200, 0.7) !important;
}

@supports (
  (-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))
) {
  .action-bar {
    backdrop-filter: blur(5px);
  }
}
