.actions {
}
.album {
}
.artist {
  margin-top:-5px;
}
.avatar {
  width: 50px;
  height: 50px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.avatar .icon {
  font-size: 3em;
  margin-top: 30px;
  margin-left: 15px;
}
/* container principale della song card */
.container {
  min-width: 400px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
  margin: 5px;
  height: 20vh;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: justify;
  transition: transform 0.3s, background-color 0.9s;
}

.container div:last-child {
  margin-left: auto;
}

.container:hover {
    transform: translateX(10px);
}


.nowPlaying {
  background-color: rgba(66, 78, 241, 0.644);
  color: white;
}

.star-icon {
  padding-top: 8vh;  
  align-items: center;
}
.star-button {
  height: 18vh;
  width: 20vw;
  text-align: center;
  font-size: 2em;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.star-button:hover {
  border-radius: 120px;
  overflow: hidden;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 2s;
}
.title {
  margin-top: 10px;
  font-weight: 800;
}

.title-large {
  padding-top: 35px;
}

@media (max-width: 1000px) {
  .container {
    height: 130px;
    padding: 0;
  }
  .star-icon {
    padding-top: 4vh;  
    align-items: center;
  }
  .star-button {
    height: 10vh;
    width: 10vw;
    text-align: center;
    font-size: 1em;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  .star-button:hover {
    border-radius: 0px;
    overflow: hidden;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.9s;
  }

  .info {
    font-size: 0.98em;
  }
  .avatar {
    margin-right: 60px;
    width: 30px;
    height: 30px;
    margin-bottom: 50px;
  }
  .avatar .icon {
    font-size: 2em;
    margin-top: 20px;
    margin-left: 15px;
  }


  .title-large {
    padding-top: 15px;
    margin-right: 5px;

  }
}
