:root {
  --app-background: url("https://source.unsplash.com/random") no-repeat;
}
body {
  background: var(--app-background);
  background-color: #989898b3;
  /* Keep the inherited background full size. */
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

/* disable animations: */
.no-animations * {
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}
