.panel {
  border-top: 1px solid white;
  position: fixed;
  padding-top: 20px;
  z-index: 10;
  bottom: 0px;
  width: 100%;
  height: 130px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: rgba(192, 202, 211, 0.2);
  backdrop-filter: blur(5px);
  text-align: center;
}
/* rgba(192, 202, 211, 0.788) */
.action-icons {
  justify-content: center;
  display: flex;
  flex-flow: row;
  transform: translateY(25px);
}

.action-icons-primary {
  font-size: 4em;
}

.action-icons-secondary {
  font-size: 2.5em;
  margin-right: 10px;
  margin-left: 10px;
}
.action-icons-extra-right {
  font-size: 1.5em;
  margin-left: 26vw;
}
.action-icons-extra-left {
  font-size: 1.5em;
  margin-right: 26vw;
}
.action-icons-extra-right-icon {
  margin-left: 20px;
}
.action-icons-extra-left-icon {
  margin-right: 20px;
}
.song-info {
  clear: both;
  display: inline-block;
  width: fit-content;
  height: 18px;
  white-space: nowrap;
  text-overflow: initial;
}

.song-info::-webkit-scrollbar {
  display: none;
}

.time-info {
  position: absolute;
  left: 19vw;
}
.duration-info {
  position: absolute;
  right: 19vw;
}
.rc-slider {
  height: 20px;
  padding: 0;
}
.rc-slider-handle {
  margin-left: 9px;
  height: 30px;
  width: 30px;
  margin-top: -8px;
}
.rc-slider-handle-touch {
  height: 50px;
  width: 50px;
}
.rc-slider-track {
  height: 12px;
  border-radius: 0px;
}
.rc-slider-rail {
  background-color: rgba(0, 0, 0, 0.24);
  transform: translateX(10px);
  height: 12px;
}
.rc-slider-tooltip {
  z-index: 25;
}
.sliding-text {
  animation: slidingText 10s linear infinite alternate;
}
.toggle-enabled {
  color: blueviolet;
}
.toggle-disabled {
  color: black;
}
@keyframes slidingText {
  0% {
    -moz-transform: translateX(0); /* Firefox bug fix */
    -webkit-transform: translateX(0); /* Firefox bug fix */
    transform: translateX(0);
  }
  50% {
    -moz-transform: translateX(0%); /* Firefox bug fix */
    -webkit-transform: translateX(0%); /* Firefox bug fix */
    transform: translateX(0%);
  }

  100% {
    -moz-transform: translateX(-20%); /* Firefox bug fix */
    -webkit-transform: translateX(-20%); /* Firefox bug fix */
    transform: translateX(-20%);
  }
}

@media (max-width: 500px) {
  .action-icons-extra-right {
    font-size: 1.5em;
    margin-left: 80px;
  }
  .action-icons-extra-left {
    font-size: 1.5em;
    margin-right: 80px;
  }
  .action-icons-secondary {
    font-size: 2.5em;
    margin: 0;
  }
}
