body {
  background: url(https://images.unsplash.com/photo-1544306094-e2dcf9479da3)
    no-repeat;
  /* Keep the inherited background full size. */
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.searchbar,
::placeholder {
  color: rgba(255, 255, 255, 0.8);
  border: 0px;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}
.searchpane {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  margin-top: 15px;
  width: 75vw;
  transition: width 1s;
  animation-name: example;
  animation-duration: 4s;
}
.searchpane-clicked {
  width: 98%;
}
.search-icon {
  color: rgba(255, 255, 255, 0.8);
}
