.searchbar,
::placeholder {
  color: rgba(0, 0, 0, 0.6);
  border: 0px;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}
.searchpane {
  position: fixed;
  background-color: rgba(192, 202, 211, 0.6);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  padding: 2vh;
  font-size: 1.2em;
  margin: 5px;
  cursor: text;
  width: 99%;
  transition: width 1s;
  z-index: 20;
  /*   animation-name: search;
  animation-duration: 4s; */
}
/* .searchpane-clicked {
  width: 98%;
} */

.search-icon {
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 400px) {
  .searchpane {
    font-size: 1.5em;
  }
}
