.searchbar,
::placeholder {
  color: rgba(0, 0, 0, 1);
  border: 0px;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  width: 88%;
}
.searchpane {

/*   background-color: rgba(192, 202, 211, 0.9);
 */  border-radius: 10px;
  backdrop-filter: blur(5px);
  font-size: 1.1em;
  cursor: text;
  width: 85vw;
  transition: width 1s;
  z-index: 20;
  max-height: 20px;
}

@supports (
  (-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))
) {
  .searchpane {
/*     background-color: rgba(192, 202, 211, 0.6);
 */    backdrop-filter: blur(5px);
  }
  .searchbar::placeholder {
/*     color: rgba(0, 0, 0, 0.6);*/
    font-weight: 500;
    color: black;
}
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 22px;
  width: 22px;
  display: block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
  /* setup all the background tweaks for our custom icon */
  background-repeat: no-repeat;

  /* icon size */
  background-size: 22px;
}

.refresh:hover {
  color: blueviolet;
  fill: blueviolet;
  filter: invert(50%) sepia(30%) saturate(20000%) hue-rotate(270deg)
    brightness(80%) contrast(100%);
  transform: scale(1.3, 1.3) rotateZ(200deg);
}

.refresh {
  color: black;
  fill: black;
  transition: transform 0.2s ease-out 0.1s;
  float: right;
}
.refresh:active {
   transform: rotateZ(200deg) scale(3, 3);
}
.search-icon {
  color: rgba(0, 0, 0, 1);
}

@media (max-width: 500px) {
  .refresh {
    transform: translateY(-20px);
  }
  .refresh:hover {
    color: blueviolet;
    fill: blueviolet;
    filter: invert(50%) sepia(30%) saturate(20000%) hue-rotate(270deg)
      brightness(80%) contrast(100%);
      transform: translateY(-20px);
  }
  .refresh:active {
    transform: translateY(-20px) rotate(200deg) scale(1.3, 1.3);

  }
  .searchpane {
    font-size: 1.3em;
    width: 100%;
  }
  .searchbar,
  ::placeholder {
    color: rgba(0, 0, 0, 0.6);
    border: 0px;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    width: 85%;
  }
}
