.song-list {
  margin: 20px;
  margin-top: 10vh;
  min-height: 70vh;
  border-radius: 5px;
  padding: 10px;
  width: 97%;
  padding-bottom: 130px;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1000px) {
  .song-list {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.2em;
    margin-top: 10vh;
    min-width: 400px;
    width: 100%;
    overflow-x: hidden;
    min-height: 160vh;
    padding-bottom: 130px;
  }
}
@media (max-width: 500px) {
  .song-list {
    min-width: 350px;
  }
}
