.song-list {
  margin: 10px;
  margin-top: 70px;
  min-height: 70vh;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 130px;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 500px) {
  .song-list {
    font-size: 1.2em;
    margin-top: 10vh;
    min-width: 450px;
  }
}
